html {
    height: 100%;
}

body {
    background-color: #3e3e3e;
    background-size: cover;
    color: white;
}

.title {
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
}

.control {
    margin-top: 40px;
}

.break {
    margin-top: 20px;
}

.break-time {
    font-size: 25px;
    text-align: center;
}

.break-time-title {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.task-time {
    font-size: 25px;
    text-align: center;
}

.task-time-title {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.custom {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-width: 2px;
    border-radius: 3px;
    border-bottom-style: solid;
    background: rgba(255, 255, 255, 0);
}

.custom.clicked {
    background: rgba(255, 255, 255, 0);
}

.custom.clicked:hover {
    background: rgba(255, 255, 255, 0);
}

.custom:hover {
    background: rgba(255, 255, 255, 0);
}

.clock {
    margin-top: 70px;
}

.clock-time {
    text-align: center;
    font-size: 100px;
}

.outer-bar {
    margin: 10px auto;
    border-width: 1px;
    height: 20px;
    border-style: solid;
    border-color: white;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.inner-bar {
    margin: 1px;
    border-width: 0;
    width: 0;
    height: 16px;
    border-style: solid;
    background-color: green;
    border-color: green;
}

a:link, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}
.footer{
    text-align: center;
    color: white;
    margin-top: 0;
    font-size: small;
}
@media screen and (max-width: 740px) {
    .title {
        margin-top: 10px;
        text-align: center;
        font-size: 40px;
    }
    .custom {
        width: 100px;
        height: 40px;
        font-size: 20px;
        color: white;
        border-width: 2px;
        border-radius: 3px;
        border-bottom-style: solid;
        background: rgba(255, 255, 255, 0);
    }
    .control {
        margin-top: 10px;
    }
    .clock {
        margin-top: 10px;
    }
    .outer-bar {
        height: 30px;
    }

    .inner-bar {
        height: 26px;
    }

    .clock-time {
        text-align: center;
        font-size: 100px;
        padding-bottom: 20px;
    }

}